<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png|webp)$">
          Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    <FilesMatch "\.(css|js|pdf)$">
          Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    <FilesMatch "\.(woff|woff2|ttf)$">
      Header set Cache-Control "max-age=31536000, public"
      </FilesMatch>
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]